{% render 'partials/head.liquid' %}

<main>
    <header>
        <nav>
            <a href="schrijfopdracht" class="back-button">â†</a>
            <h1>Community drops</h1>
        </nav>
    </header>
</main>