<main>
    <h2>Nieuwste berichten</h2>
    
    {% comment %} <form action="">
        <label for=""></label>
    </form> {% endcomment %}

    {% for message in messages %}
        <article>
            <h3>{{ message.from }}</h3>
            <p>{{ message.text }}</p>
        </article> 
    {% endfor %}
</main>
