{% render 'partials/head.liquid' %}

<main>
    <h2>Nieuwste berichten</h2>
    
    <form class="review-form">
        <div class="form-group">
            <textarea id="review" name="review" placeholder="Laat een community drop achter en verspreid kracht." required></textarea>
        </div>
        
        <button type="submit" class="later-btn">Misschien later</button>
        <button type="submit" class="submit-btn">Submit Review</button>
    </form>

    {% for message in messages %}
        <article class="message">
            <h3>{{ message.from }}</h3>
            <p>{{ message.text }}</p>
        </article> 
    {% endfor %}
</main>
